<div class="product__box__mainarea">
    <div class="product__box__title">
        <h2>{{ selectedCategory.translate.getName() }}</h2>
    </div>
    <div class="product__filter__main">
        <div class="product__filter">
            <p>Sorting</p>
            <select name="sorting" id="sorting">
                <option value="new">Release Date</option>
                <option value="date">Sort By Latest</option>
            </select>
        </div>
        <div class="product__filter">
            <i class="fas fa-th-list"></i>
            <i class="fas fa-th"></i>
        </div>
    </div>
</div>