{% extends 'layout.html.twig' %}
{% set firstEmail = footerData[0].firstEmail %}
{% set secondEmail = footerData[0].secondEmail %}
{% set phoneNumber = footerData[0].phoneNumber %}
{% set fax = footerData[0].fax %}
{% set address = footerData[0].address %}
{%  set categories = categories %}
{% block content %}
    <h1>Test</h1>
{% endblock %}